aside.menu-area{
    background-color: var(--bg-dark);
    box-shadow:var(--shadow);

}

.menu a {
display:block;
color: white;

 padding: 15px;
}

.menu a:hover{text-decoration: none;
    font-weight: 300;
    background: linear-gradient(96deg, rgb(0, 170, 9) 0%, rgba(12, 121, 9, 0.667) 100%);} 



    @media(max-width: 768px){
        .menu {
            display: flex;
            justify-content:center;
            align-items:center;
        }

        .menu a {
            display:inline;
            padding: 10px;
            margin: 0px;

        }
        .menu {
            height: 100%;
            justify-content: space-around;
        }
    }